<mat-toolbar>
    <mat-toolbar-row id="toolbar">
      <div id="title">
        <img src="/assets/images/pawprint.png" alt="pawprint" id="paw">
        <p id="titleParagraph">catodo</p>
      </div>
      <div>
        <button mat-button id="signInButton" routerLink="/logowanie">
          Zaloguj się
        </button>
      </div>  
      <div class="buttonDiv">
        <button mat-button class="signUpButton" routerLink="/rejestracja">
          Zarejestruj się
        </button>
       </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="welcomeDiv">
   <h1 id="welcomeHeader">Zorganizuj swoje <br> życie i pracę, tak jak chcesz.</h1>
   <h3 id="additionalInfoHeader">Aplikacja #1 do zarządzania czasem <br>wśród pracowników Calicosoft.</h3>
   <br>
   <div class="buttonDiv">
    <button mat-button class="signUpButton" routerLink="/rejestracja">
      Zarejestruj się
    </button>
   </div>
   
  </div>
  <div id="photoDiv">
    <img src="/assets/images/photo.png" id="photo">
  </div>
  <div id="spanDiv">
    <span id="span">© Calicosoft 2023</span>
  </div>