.taskContainer{
    width: 60%;
    align-self: center;
    height: 45px;
    min-height: 45px;
    margin-top: 0.4rem;
}


.divider{
    width: 60%;
    align-self: center;
}

#wrapperDiv{
    margin-top: 5rem;
}

.ng-star-inserted{
    display: flex;
    flex-direction: column;
}

#taskHeader{
    margin: 0;
    width: 60%;
    align-self: center;
    margin-top: 0.2rem;
}

#header{
    display: flex;
    flex-direction: column;
}

.div{
    margin-top: 0.2rem;
    font-size: smaller;
    display: flex;
    pointer-events: none;
    opacity: 0.6;
}

.calendarIcon{
    font-size: 1rem;
    color: #de483a;
}

.date{
    margin-left: -0.2rem;
    margin-top: 0.1rem;
    width: 100%;
}

.case{
   width: 15rem;
   text-align: center;
   display: flex;
   flex-direction: row;
   margin-left: 1rem;
}


.redFlag{
    color: rgb(224, 22, 22);
    font-size: 1rem;
    margin-top: -0.2rem;

}

.yellowFlag{
    color: rgb(241, 241, 109);
    font-size: 1rem;
    margin-top: -0.2rem;
}

.orangeFlag{
    color:  #dd7162;
    font-size: 1rem;
    margin-top: -0.2rem;
}


.flagDiv{
    margin-top: 0.2rem;
    font-size: small;
}

.neutral{
    color: rgb(241, 241, 109);
}

.important{
    color: #dd7162;
}

.veryImportant{
    color: rgb(224, 22, 22);
}

.actionCase{
    width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: -5rem;
}

.dateDiv{
    display: flex;
    flex-direction: row;
    width: 8rem;
    
}

.update{
    font-size: 1.2rem;
    color: #de483a;
    margin-top: -0.2rem;
}

.taskContent{
    width: 98.5%;
    pointer-events: none;
    opacity: 0.6;
}


.taskContentDiv{
    display: flex;
    width: 100%;
}

.deleteButton{
    height: 1rem;
    margin-right: -1.8rem;
    max-width: 2.5rem;
    margin-top: 0.4rem;
    margin-bottom: -1rem;
}

.deleteIcon{
    color: #de483a;
}

.matListItemButton{
    font-size: 1.1rem;
}

.listItemButton{
    font-size: 2rem;
}

.matListItemIcon{
    font-size: 1.4rem !important; 
    margin-top: -0.3rem;
}