<div mat-dialog-content id="addTaskDialog">
    <form id="addTaskForm">
        <div *ngIf="isEmpty" id="error">
            Pola nie mogą być puste
        </div>
        <div>
            <mat-form-field id="taskContent">
                <input matInput placeholder="Treść zadania" type="text" name="taskContent" id="taskContent" [(ngModel)]="task.taskContent">
            </mat-form-field>
        </div>
        <div id="taskDetails">
            <mat-form-field id="taskDate">
                <input matInput [matDatepicker]="picker" placeholder="Data" name="date" id="date" [(ngModel)]="task.date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> 
                <mat-datepicker #picker panelClass="datePicker"></mat-datepicker>
            </mat-form-field>
            <mat-form-field id="prioritySelect">
                <mat-select placeholder="Priorytet" [(ngModel)]="task.priority" name="priority">
                    <mat-option value=1><mat-icon class="neutral">flag</mat-icon>Neutralne</mat-option>
                    <mat-option value=2><mat-icon class="important">flag</mat-icon>Ważne</mat-option>
                    <mat-option value=3><mat-icon class="veryImportant">flag</mat-icon>Bardzo ważne</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div id="buttons">
            <button mat-button id="cancelButton" (click)="closeDialog()">Anuluj</button>
            <button mat-button type="submit" id="addTaskButton" (click)="addTask()">Dodaj zadanie</button>
        </div>
    </form>
</div>