#todoToolbar{
    background-color: #de483a;
    height: 44px;
    display: flex;
    justify-content: flex-end;
}


.toolbarButton{
    color: white !important;
    font-size: xx-large;
    border-radius: 50%;
    width: 50px !important;
    min-width: 10px !important;
    height: 40px;
}

.toolbarButton:hover{
    background-color: hsla(0,0%,100%,0.2);
}

#logoutIcon{
    color: white;
    font-weight: bolder;
}

#logoutButton{
    display: flex;
    justify-content: end;
}

.mat-toolbar{
    background-color: white !important;
}

#whitepaw{
    width: 100%;
    display: flex;
}

#whitepawImage{
    align-self: center;
    margin-left: 0.5rem;
}

#sidenav{
    height: 100%;
    width: 305px;
    background-color: #fafafa;
}

#sidenavContent{
    background-color: white;
    height: 100%;
}

#sidenavDiv{
    height: 93%;
    margin-top: -1.2rem;
}

#sidenavContainer{
    height: 100%;
}

.mat-drawer-side{
    border-right: none ;
}

.taskContainer{
    width: 60%;
    align-self: center;
    height: 45px;
    min-height: 45px;
    margin-top: 0.4rem;
}

#sidenavContent{
    display: flex;
    flex-direction: column;
}

.divider{
    width: 60%;
    align-self: center;
}

#wrapperDiv{
    margin-top: 5rem;
}

.ng-star-inserted{
    display: flex;
    flex-direction: column;
}

#taskHeader{
    margin: 0;
    width: 60%;
    align-self: center;
    margin-top: 0.2rem;
}

#header{
    display: flex;
    flex-direction: column;
}

.div{
    margin-top: 0.2rem;
    font-size: smaller;
    display: flex;
}

.calendarIcon{
    font-size: 1rem;
    color: #de483a;
}

.date{
    margin-left: -0.2rem;
    margin-top: 0.1rem;
    width: 100%;
}

.case{
   width: 15rem;
   text-align: center;
   display: flex;
   flex-direction: row;
   margin-left: 1rem;
}


.redFlag{
    color: rgb(224, 22, 22);
    font-size: 1rem;
    margin-top: -0.2rem;

}

.yellowFlag{
    color: rgb(241, 241, 109);
    font-size: 1rem;
    margin-top: -0.2rem;
}

.orangeFlag{
    color:  #dd7162;
    font-size: 1rem;
    margin-top: -0.2rem;
}


.flagDiv{
    margin-top: 0.2rem;
    font-size: small;
}

.neutral{
    color: rgb(241, 241, 109);
}

.important{
    color: #dd7162;
}

.veryImportant{
    color: rgb(224, 22, 22);
}

.actionCase{
    width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: -5rem;
}

.dateDiv{
    display: flex;
    flex-direction: row;
    width: 8rem;
}

.update{
    font-size: 1.2rem;
    color: #de483a;
    margin-top: -0.2rem;
}


.disable{
    width: 15rem;
   text-align: center;
   display: flex;
   flex-direction: row;
   margin-left: 1rem;
   pointer-events: none;
   opacity: 0.6;
}

.disabledTaskContent{
    width: 98.5%;
    pointer-events: none;
    opacity: 0.6;
}

.taskContent{
    width: 98.5%;
}

.disabledDateDiv{
    display: flex;
    flex-direction: row;
    width: 8rem;
    pointer-events: none;
    opacity: 0.6;
}

.disableActionCase{
    width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: -5rem;
    pointer-events: none;
    opacity: 0.6;
}

.taskContentDiv{
    display: flex;
    width: 100%;
}

.deleteButton{
    height: 1rem;
    margin-right: -1.8rem;
    max-width: 2.5rem;
    margin-top: 0.4rem;
    margin-bottom: -1rem;
}

.deleteIcon{
    color: #de483a;
}