<mat-toolbar>
    <mat-toolbar-row id="todoToolbar">
        <div id="whitepaw">
            <img src="/assets/images/whitepaw.png" alt="whitepaw" id="whitepawImage">
        </div>
        <button mat-button class="toolbarButton">
            <span matTooltip="Dodaj zadanie" (click)="openDialog()">+</span>
        </button>
        <button mat-button class="toolbarButton" id="logoutButton" (click)="logout()"><mat-icon
                id="logoutIcon">logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div id="sidenavDiv">
    <mat-sidenav-container id="sidenavContainer">
        <mat-sidenav mode="side" opened id="sidenav">
            siema
        </mat-sidenav>
        <mat-sidenav-content id="sidenavContent">
            <div id="wrapperDiv">
                <div id="header">
                    <h2 id="taskHeader">Twoje zadania</h2>
                    <mat-divider class="divider"></mat-divider>
                </div>
                <div *ngFor="let task of tasks">
                    <div class="taskContainer">
                      {{task.taskContent | capitalize}}<br>
                      <div class="dateDiv">
                        {{task.date | date: 'dd MMM yyyy'}}
                      </div>
                    </div>
                    <mat-divider class="divider"></mat-divider>
                </div>
            </div>
            
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>