<mat-toolbar>
    <mat-toolbar-row id="todoToolbar">
        <div id="whitepaw">
            <img src="/assets/images/whitepaw.png" alt="whitepaw" id="whitepawImage">
        </div>
        <button mat-button class="toolbarButton">
            <span matTooltip="Dodaj zadanie" (click)="openDialog()">+</span>
        </button>
        <button mat-button class="toolbarButton" id="logoutButton" (click)="logout()"><mat-icon id="logoutIcon">logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div id="sidenavDiv">
    <mat-sidenav-container id="sidenavContainer">
        <mat-sidenav mode="side" opened id="sidenav">
            siema
        </mat-sidenav>
        <mat-sidenav-content id="sidenavContent">
            siemka
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  

