<mat-toolbar>
    <mat-toolbar-row id="todoToolbar">
        <div id="whitepaw">
            <img src="/assets/images/whitepaw.png" alt="whitepaw" id="whitepawImage">
        </div>
        <button mat-button class="toolbarButton">
            <span matTooltip="Dodaj zadanie" (click)="openDialog()">+</span>
        </button>
        <button mat-button class="toolbarButton" id="logoutButton" (click)="logout()"><mat-icon
                id="logoutIcon">logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div id="sidenavDiv">
    <mat-sidenav-container id="sidenavContainer">
        <mat-sidenav mode="side" opened id="sidenav">
            siema
        </mat-sidenav>
        <mat-sidenav-content id="sidenavContent">
            <div id="wrapperDiv">
                <div id="header">
                    <h2 id="taskHeader">Twoje zadania</h2>
                    <mat-divider class="divider"></mat-divider>
                </div>
                <div *ngFor="let task of tasks">
                    <div class="taskContainer">
                        <div class="taskContentDiv">
                            <div [ngClass] = "task.actionOnTask == 3? 'disabledTaskContent':'taskContent'">
                                {{task.taskContent | capitalize}}<br>
                            </div>
                            <div class="deleteButtonDiv">
                                <button mat-button class="deleteButton" (click)="deleteTask(task.id)"><mat-icon class="deleteIcon">delete_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                        
                        <div class="div">
                            <div [ngClass] = "task.actionOnTask == 3? 'disabledDateDiv':'dateDiv'">
                                <div>
                                    <mat-icon class="calendarIcon">calendar_today</mat-icon>
                                </div>
                                <div class="date">
                                    {{task.date | date: 'dd MMM yyyy'}}
                                </div>
                            </div>
                            <div [ngSwitch]="task.priority">
                                <div *ngSwitchCase=1 [ngClass] = "task.actionOnTask == 3? 'disable':'case'">
                                    <div class="flagDiv">
                                        <mat-icon class="yellowFlag">flag</mat-icon>
                                    </div>
                                    <mat-select value=1 (valueChange)="onSelected(task, $event, task.actionOnTask)">
                                        <mat-option value=1><mat-icon
                                                class="neutral">flag</mat-icon>Neutralne</mat-option>
                                        <mat-option value=2><mat-icon
                                                class="important">flag</mat-icon>Ważne</mat-option>
                                        <mat-option value=3><mat-icon class="veryImportant">flag</mat-icon>Bardzo
                                            ważne</mat-option>
                                    </mat-select>
                                </div>
                                <div *ngSwitchCase=2 [ngClass] = "task.actionOnTask == 3? 'disable':'case'">
                                    <div class="flagDiv">
                                        <mat-icon class="orangeFlag">flag</mat-icon>
                                    </div>
                                    <mat-select value=2 (valueChange)="onSelected(task, $event, task.actionOnTask)">
                                        <mat-option value=1><mat-icon
                                                class="neutral">flag</mat-icon>Neutralne</mat-option>
                                        <mat-option value=2><mat-icon
                                                class="important">flag</mat-icon>Ważne</mat-option>
                                        <mat-option value=3><mat-icon class="veryImportant">flag</mat-icon>Bardzo
                                            ważne</mat-option>
                                    </mat-select>
                                </div>
                                <div *ngSwitchCase=3 [ngClass] = "task.actionOnTask == 3? 'disable':'case'">
                                    <div class="flagDiv">
                                        <mat-icon class="redFlag">flag</mat-icon>
                                    </div>
                                    <mat-select value=3 (valueChange)="onSelected(task, $event, task.actionOnTask)">
                                        <mat-option value=1><mat-icon
                                                class="neutral">flag</mat-icon>Neutralne</mat-option>
                                        <mat-option value=2><mat-icon
                                                class="important">flag</mat-icon>Ważne</mat-option>
                                        <mat-option value=3><mat-icon class="veryImportant">flag</mat-icon>Bardzo
                                            ważne</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div [ngSwitch]="task.actionOnTask">
                                <div *ngSwitchCase=1 class="actionCase">
                                    <div class="flagDiv">
                                        <mat-icon class="update">update</mat-icon>
                                    </div>
                                    <mat-select value=1 (valueChange)="onSelected(task, task.priority, $event)">
                                        <mat-option value=1><mat-icon>playlist_add</mat-icon>Dodane</mat-option>
                                        <mat-option value=2><mat-icon>trending_up</mat-icon>W trakcie</mat-option>
                                        <mat-option value=3><mat-icon>done</mat-icon>Zakończone</mat-option>
                                    </mat-select>
                                </div>
                                <div *ngSwitchCase=2 class="actionCase">
                                    <div class="flagDiv">
                                        <mat-icon class="update">update</mat-icon>
                                    </div>
                                    <mat-select value=2 (valueChange)="onSelected(task, task.priority, $event)">
                                        <mat-option value=1><mat-icon>playlist_add</mat-icon>Dodane</mat-option>
                                        <mat-option value=2><mat-icon>trending_up</mat-icon>W trakcie</mat-option>
                                        <mat-option value=3><mat-icon>done</mat-icon>Zakończone</mat-option>
                                    </mat-select>
                                </div>
                                <div *ngSwitchCase=3 [ngClass] = "task.actionOnTask == 3? 'disableActionCase':'actionCase'">
                                    <div class="flagDiv">
                                        <mat-icon class="update">update</mat-icon>
                                    </div>
                                    <mat-select value=3>
                                        <mat-option value=3><mat-icon>done</mat-icon>Zakończone</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="divider"></mat-divider>
                </div>
            </div>

            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>