#todoToolbar{
    background-color: #de483a;
    height: 44px;
    display: flex;
    justify-content: flex-end;
}


.toolbarButton{
    color: white !important;
    font-size: xx-large;
    border-radius: 50%;
    width: 50px !important;
    min-width: 10px !important;
    height: 40px;
}

.toolbarButton:hover{
    background-color: hsla(0,0%,100%,0.2);
}

#logoutIcon{
    color: white;
    font-weight: bolder;
}

#logoutButton{
    display: flex;
    justify-content: end;
}

.mat-toolbar{
    background-color: white !important;
}

#whitepaw{
    width: 100%;
    display: flex;
}

#whitepawImage{
    align-self: center;
    margin-left: 0.5rem;
}

#sidenav{
    height: 100%;
    width: 305px;
    background-color: #fafafa;
}

#sidenavContent{
    background-color: white;
    height: 100%;
}

#sidenavDiv{
    height: 93%;
    margin-top: -1.2rem;
}

#sidenavContainer{
    height: 100%;
}

.mat-drawer-side{
    border-right: none ;
}
