<mat-toolbar>
  <mat-toolbar-row id="toolbar">
    <div id="title">
      <img src="/assets/images/pawprint.png" alt="pawprint" id="paw">
      <p id="titleParagraph">cattodo</p>
    </div>
    <div>
      <button mat-button id="signInButton">
        Zaloguj się
      </button>
    </div>  
    <div class="buttonDiv">
      <button mat-button class="signUpButton">
        Zarejestruj się
      </button>
     </div>
  </mat-toolbar-row>
</mat-toolbar>
<div id="welcomeDiv">
 <h1 id="welcomeHeader">Zorganizuj swoje <br> życie i pracę, tak jak chcesz.</h1>
 <h3 id="additionalInfoHeader">Zarządzaj zadaniami, zmieniaj ich statusy <br>i wiele więcej. Aplikacja #1 do zarządzania czasem <br>wśród kociarzy.</h3>
 <div class="buttonDiv">
  <button mat-button class="signUpButton">
    Zarejestruj się
  </button>
 </div>
 
</div>
<div>
  <img src="/assets/images/todo.jpg" style="height: 1000px;">
</div>