@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

*{
    font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

button{
    font-weight: bold;
}

mat-tooltip-component .mdc-tooltip__surface {
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 10px; 
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-primary, rgba(0, 0, 0, 0.244));
}

.mat-mdc-form-field:hover{
    background-color: white !important;
}